body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:833px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:194px;
  width:100px;
  height:40px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:58px;
  width:49px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:58px;
  width:65px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:238px;
  width:155px;
  height:60px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:444px;
  width:100px;
  height:40px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:319px;
  width:100px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#449ED3;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:577px;
  width:257px;
  height:40px;
  color:#449ED3;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:58px;
  width:31px;
  height:28px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:184px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:309px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:434px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:567px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:86px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:86px;
  width:18px;
  height:18px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:244px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:18px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:369px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:18px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:494px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:61px;
  width:18px;
  height:18px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:11px;
  width:271px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:510px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:58px;
  width:1px;
  height:509px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:11px;
  width:109px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:115px;
  width:155px;
  height:20px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:145px;
  width:150px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:184px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:214px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:267px;
  height:8px;
}
#u105_seg1 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:-9px;
  width:18px;
  height:18px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:269px;
  width:150px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:339px;
  width:0px;
  height:0px;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:317px;
  height:8px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:-95px;
  width:8px;
  height:99px;
}
#u107_seg2 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:-101px;
  width:18px;
  height:18px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
